body{

    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}

h1{

    font-size: 50px;
}

.orange-color{

    color: orange;
}

section{
    display: flex;
    margin-bottom: 200px;
}

.half-width{

    width: 50%;
    padding-left: 10%;
    
}

.half-width img{

    width: 75%;
    margin-top: 8%;
    padding-left: 4%;
    padding-top: 2%;
    border-radius: 40px;
    border-style: solid;
    border-color: beige;
    box-shadow: 1px 3px 12px;

}

.half-width-2nd{

    width: 400px;
    padding-left: 15%;

}

.half-width-2nd img{

 
   width: 85%;
   border-radius: 40px;
   border-style: solid;
   border-color: aliceblue;
   box-shadow: 0 4px 8px 0;
   
   

}


.link-button{

    text-decoration: none;
    background-image: linear-gradient(rgb(236, 119, 119),rgb(243, 88, 71));
    padding: 13px 40px;
    border-radius: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.top-banner{

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big{

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
   

}